# PostgreSQL
DATABASE_URL=
DJANGO_DEBUG=True

# General settings
DJANGO_ADMIN_URL=
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=-95()kx2q0p%y=584eg!qxp#^&jt4zp@z2_h#o4#n^(ozz61(%
DJANGO_ALLOWED_HOSTS=.example.com

# Security! Better to use DNS for this task, but you can use redirect
DJANGO_SECURE_SSL_REDIRECT=False
