{% extends 'podcasting/base.html' %}
{% load thumbnail %}

{% block page_header %}
    <div class="clearfix">
        <h1 class="pull-left">Our podcasts</h1>
    </div>
{% endblock page_header %}

{% block page_content %}
    <div class="series row">
        {% for series in object_list %}
            <div class="col-md-4">
                <a href="{{ series.get_absolute_url }}">
                    {% thumbnail series.artwork '350x350' crop='center' as thumb %}
                        <img src="{{ thumb.url }}">
                    {% empty %}
                        <img src="//placehold.it/350x350?text={{ series|urlencode }}">
                    {% endthumbnail %}
                </a>

                <div class="caption">
                    <h2>
                        <a href="{{ series.get_absolute_url }}">
                            {{ series }}
                            <small><br>{{ series.get_tx_display }}</small>
                        </a>
                    </h2>

                    {% if series.presenters %}
                        <p>
                            Presented by
                            {% for presenter in series.presenters.all %}{% spaceless %}
                                {% if not forloop.first and forloop.counter < series.presenters.count %},{% endif %}
                                {% if forloop.last and not forloop.first %}&nbsp;and&nbsp;{% endif %}<a href="{{ presenter.get_absolute_url }}">{{ presenter.name }}</a>
                            {% endspaceless %}{% endfor %}
                        </p>
                    {% endif %}
                </div>
            </div>

            {% if forloop.counter|divisibleby:3 and not forloop.last %}
    </div>
    <div class="series row">
            {% endif %}
        {% endfor %}
    </div>
{% endblock page_content %}
